.btn{
  @apply text-sm uppercase bg-btn py-4 px-5 rounded-full tracking-[0.2rem] text-white
}
.btn:hover{
  transition: all.4s;
  background-color: rgb(107 89 225 / 84%);
  transform: translateY(-1px);
}

.ulitems li:hover{
  color: rgb(107, 89, 225);
  transition: all.3s;
}
.ulitems li:hover::before{
content: "";
background-color: rgb(107 89 225 / 84%);
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
transition: all.3s
}
.right-content::before {
  content: '';
  position: absolute;
  top: -10%;
  left: -9%;
  width: 100px; /* Set width */
  height: 100px; /* Set height */
  background-image: url('./assets/column.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.dark .section4 .tab-nav{
  @apply border-b-[1.3px] border-primary
}
.light .section4 .tab-nav{
  @apply border-b-[1.3px] border-black
}
.dark .section4 .tab{
  @apply bg-black text-primary
}
.light .section4 .tab{
  @apply bg-transparent border-[1.3px] border-black
}
.dark .section4 h5{
  @apply text-primary
}
.light .section4 h5{
  @apply text-black
}
.dark .section4 .modebtn{
  @apply text-primary uppercase font-medium rounded-full
}
.light .section4 .modebtn{
  @apply text-black uppercase font-medium  rounded-full
}
@media screen and  (min-width: 640px) { 
  .btn{
    @apply text-sm uppercase bg-btn py-4 px-5 rounded-full tracking-[0.2rem] text-white
  }
  .right-content::before{
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px; /* Set width */
    height: 80px; /* Set height */
  }
 }
 @media screen and  (max-width: 639px) { 
  .right-content::before{
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px; /* Set width */
    height: 80px; /* Set height */
  }
 }
 @media screen and  (min-width: 768px) { 
  .btn{
    @apply text-xl uppercase bg-btn py-4 px-5 rounded-full tracking-[0.2rem] text-white
  }
  .right-content::before {
    position: absolute;
    top: -10%;
    left: -11%;
    width: 80px; /* Set width */
    height: 80px; /* Set height */
  }
 }
 @media screen and (min-width: 1024px) {
  .btn{
    @apply text-xl uppercase bg-btn py-4 px-5 rounded-full tracking-[0.2rem] text-white
  }
  }